# The name of the file equals the name of the profile

validity:
    notafter: +01

digest: sha1
increasing_serials: 1
randomized_serial_bytes: 8

publish: 0

style:
    00_tls_basic_style:
        label: I18N_OPENXPKI_PROFILE_TLS_BASIC_STYLE
        description: I18N_OPENXPKI_PROFILE_TLS_BASIC_DESC
        ui:
            subject:
                - hostname
            info:
                - requestor_gname
                - requestor_name
                - requestor_email
                - requestor_affiliation
                - comment

        subject: CN=[% hostname %][% IF port AND port != 443 %]:[% port %][% END %],DC=OpenVPN CA,DC=OpenXPKI,DC=org
        subject_alternative_names: dns=[% hostname %]

    05_advanced_style:
        label: I18N_OPENXPKI_PROFILE_ADVANCED_STYLE
        description: I18N_OPENXPKI_PROFILE_ADVANCED_DESC
        ui:
            subject:
                - cn
                - o
                - ou
                - dc
                - c
            info:
                - requestor_gname
                - requestor_name
                - requestor_email
                - requestor_affiliation
                - comment

        subject: CN=[% CN %][% IF OU %][% FOREACH entry = OU %],OU=[% entry %][% END %][% END %][% IF O %],O=[% O %][% END %][% FOREACH entry = DC %],DC=[% entry %][% END %][% IF C %],C=[% C %][% END %]
        subject_alternative_names: "[% FOREACH entry = EMAIL %],email=[% entry %][% FOREACH entry = DNS %],dns=[% entry %]"

role:
- OpenVPN Client

# Profile extensions - set 0/1 as needed
extensions:
    basic_constraints:
        critical: 1
        ca: 0

    key_usage:
        critical: 0
        digital_signature: 1
        non_repudiation:   0
        key_encipherment:  0
        data_encipherment: 0
        key_agreement:     0
        key_cert_sign:     0
        crl_sign:          0
        encipher_only:     0
        decipher_only:     0

    extended_key_usage:
        critical: 0
        # these are OIDs, some OIDs are known and have names
        client_auth:      1
        email_protection: 0

    subject_key_identifier:
        critical: 0
        hash: 1

    authority_key_identifier:
        critical: 0
        keyid:  1
        issuer: 1

    issuer_alt_name:
        critical: 0
        # If the issuer has no subject alternative name, copying returns
        # an empty extension, which is problematic with both RSA SecurId
        # tokens and Cisco devices!
        copy: 0


    crl_distribution_points:
        critical: 0
        uri:
        - http://localhost/cacrl.crt
        - ldap://localhost/cn=[% ISSUER.CN.0 %],dc=OpenXPKI,dc=org

    authority_info_access:
        critical: 0
        ca_issuers: http://localhost/cacert.crt
        ocsp: 
        - http://ocsp.openxpki.org/
        - https://ocsp.openxpki.org/        

    policy_identifier:
        critical: 0
        # WARNING: if use_loa is set to yes, the policy_identifier
        # will be extended by the values in the appropriate loa tag
        # Only one oid is supported yet
        # oid: 1.2.3.4

    netscape:
        comment:
            critical: 0
            text: This is a generic certificate. Generated with OpenXPKI trustcenter software.
        certificate_type:
            critical: 0
            ssl_client:        1
            smime_client:      0
            object_signing:    0
            ssl_client_ca:     0
            smime_client_ca:   0
            object_signing_ca: 0

        cdp:
            critical: 0
            uri: http://localhost/cacrl.crt
            ca_uri: http://localhost/cacrl.crt
     # end of netscape section
# end of extensions

# Define the input fields you used below here
#template:


