{{#if user}}
    <div class="userinfo">
        <ul class="nav">
            <li class="text-right">
                Signed in as:
                <strong>{{user.name}} <span class="user_role">({{user.role}})</span></strong>
            </li>
            <li class="text-right">
                Realm:
                <strong>{{user.pki_realm_label}} <span class="pki_realm">({{user.pki_realm}})</span></strong>
            </li>
        </ul>
    </div>
{{/if}}
