openxpki-i18n ([% IF GIT_TAG %][% version %]-[% PKGREL %][% ELSE %][% git_commit %][% END %]) unstable; urgency=low

  * [% IF GIT_TAG %]Release build [% GIT_TAG %] [% ELSE %]Development build [% END %]

 -- OpenXPKI Foundation <debian@openxpki.org>  [% BUILD_DATE %]
