include		[% test_directory_schema %]core.schema
include		[% test_directory_schema %]cosine.schema
include		[% test_directory_schema %]inetorgperson.schema
include		[% test_directory_schema %]openca.schema
pidfile		[% test_directory_var %]slapd.pid
argsfile	[% test_directory_var %]slapd.args
modulepath	[% module_path %]
moduleload	back_bdb
database	bdb
suffix		"dc=openxpki,dc=org"
rootdn		"cn=Manager,dc=openxpki,dc=org"
rootpw          secret
directory	[% test_directory_db %]
index	objectClass	eq
