<!-- components/oxi-section/tiles -->
{{#if @def.tiles.length}}
    <div class="row">
        <div class="mx-auto">
            <p class="text-{{this.align}}">
                {{#each this.tiles as |tile|}}
                    {{#if (eq tile.type "button")}}
                        <OxiBase::Button @button={{tile.content}} />
                    {{/if}}
                    {{#if (eq tile.type "newline")}}
                        <br/>
                    {{/if}}
                {{/each}}
            </p>
        </div>
    </div>
{{/if}}
