<openxpki>
  <common>
    <log_config>t/28_log/log.conf</log_config>
    <server>
        <user>root</user>
        <group>root</group>
        <socket_file>t/socket</socket_file>
        <pid_file>t/pid</pid_file>
        <stderr>t/stderr.log</stderr>
        <interface>Test</interface>
    </server>
    <i18n>
        <locale_directory>t</locale_directory>
        <default_language>C</default_language>
    </i18n>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="30_dbi/database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/token.xml"/>
  </common>

  <pki_realm name="Test Root CA" id="root1">

    <common id="default">
<!--    <common> -->
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default}"/>

      <!-- end entity certificate validities -->
      <endentity>
	<!-- 'id' in endentity validities is the certificate profile name -->
	<!-- default validity settings for end entity certificates (1 year
	     after NotBefore -->
	<validity id="default">
	  <!-- notbefore defaults to 'now' -->
	  <notafter  format="relativedate">+01</notafter>
	</validity>

	<validity id="Server"
		  super="pki_realm{root1}/common/endentity/validity{default}">
	  <notafter format="relativedate">+0003</notafter>
	</validity>

	<validity id="User"
		  super="pki_realm{root1}/common/endentity/validity{default}">
	  <notafter format="relativedate">+0006</notafter>
	</validity>
      </endentity>


      <!-- self-signed CA certificate validities (only for CA certificates
	generated by OpenXPKI, CA certificates may be imported from
	the outside, in this case this setting is completely ignored -->
      <selfsignedca>
	<!-- 'id' in selfsigned CA validities is the CA id -->
	<!-- default validity settings for self-signed CAs (2 years
	     after NotBefore -->
	<validity id="default">
	  <!-- notbefore defaults to 'now' if unset -->
	  <!-- add two years and one hour (for testing purposes -->
	  <notafter  format="relativedate">+02000001</notafter>
	</validity>

	<validity id="INTERNAL_CA_1"
		  super="pki_realm{root1}/common/selfsignedca/validity{default}">
	  <notbefore format="relativedate">-01</notbefore>
	</validity>
	
	<validity id="INTERNAL_CA_2"
		  super="pki_realm{root1}/common/selfsignedca/validity{default}">
	  <!-- <notbefore format="absolutedate">20070101</notbefore> -->
	</validity>
      </selfsignedca>

      <!-- CRL lifetimes -->
      <crl>
	<!-- 'id' in CRL validities is the CA id -->
	<!-- default validity settings for CRLs (14 days) -->
	<validity id="default">
	  <!-- notbefore is not applicable here -->
	  <notafter  format="relativedate">+000014</notafter>
	</validity>

	<!-- Issuing CAs just inherit the default -->
	<validity id="INTERNAL_CA_1"
		  super="pki_realm{root1}/common/crl/validity{default}"/>

	<validity id="INTERNAL_CA_2"
		  super="pki_realm{root1}/common/crl/validity{default}"/>
      </crl>


    </common>

    <!-- Issuing CAs defined for this realm -->
    <!-- 'id' is the internal CA identifier -->
    <!-- 'name' is deprecated and will go away -->
    <ca id="INTERNAL_CA_1">
      <token super="common/token_config/token{ca1}"/>
      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/profile.xml"/>
    </ca>

    <ca id="INTERNAL_CA_2">
      <token    super="common/token_config/token{ca2}"/>
      <profiles super="pki_realm/ca{INTERNAL_CA_1}/profiles"/>
    </ca>

    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="50_auth/auth.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="50_auth/acl.xml"/>

  </pki_realm>
</openxpki>
