<openxpki>
  <common>
    <log_config>t/28_log/log.conf</log_config>
    <server>
        <user>root</user>
        <group>root</group>
        <socket_file>t/socket</socket_file>
        <pid_file>t/pid</pid_file>
        <stderr>t/stderr.log</stderr>
        <interface>Test</interface>
    </server>
    <i18n>
        <locale_directory>t</locale_directory>
        <default_language>C</default_language>
    </i18n>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="30_dbi/database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/token.xml"/>
  </common>
  <pki_realm name="Test Root CA">

    <!-- default token (used for general crypto operations not requiring
         private key operations) -->
    <common name="default">
      <token super="common/token_config/token{default}"/>

      <!-- CA certificate validity (selfsigned) -->
      <validity type="CA" format="days">730</validity>

      <!-- no role specified: end entity certificate default validity -->
      <validity format="days">365</validity>
      
      <!-- specific validities override default -->
      <validity role="User" format="days">90</validity>
      <validity role="Server" format="days">180</validity>

    </common>

    <!-- Issuing CAs defined for this realm -->
    <ca name="INTERNAL_CA_1" id="ca1">
      <token super="common/token_config/token{ca1}"/>
      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/profile.xml"/>
    </ca>

    <ca name="INTERNAL_CA_2">
      <token    super="common/token_config/token{ca2}"/>
      <profiles super="pki_realm/ca{ca1}/profiles"/>
    </ca>

    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="50_auth/auth.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="50_auth/acl.xml"/>

  </pki_realm>
</openxpki>
