<openxpki>
  <common>
    <log_config>t/28_log/log.conf</log_config>
    <server>
        <user>root</user>
        <group>root</group>
        <socket_file>t/socket</socket_file>
        <pid_file>t/pid</pid_file>
        <stderr>t/stderr.log</stderr>
        <interface>Test</interface>
    </server>
    <i18n>
        <locale_directory>t</locale_directory>
        <default_language>C</default_language>
    </i18n>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="30_dbi/database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/token.xml"/>
  </common>
  <pki_realm name="Test Root CA">
    <common name="default">
      <token super="common/token_config/token{default}"/>
    </common>
    <ca name="INTERNAL_CA_1">
      <token super="common/token_config/token{ca}"/>
    </ca>
  </pki_realm>
</openxpki>
