Source: libopenxpki-client-cli-perl
Maintainer: Michael Bell <michael.bell@web.de>
Priority: optional
Build-Depends: debhelper (>= 3.0.18), perl (>= 5.6.0), libversion-perl

Package: libopenxpki-client-cli-perl
Architecture: any
Recommends:
Section: perl
Priority: optional
Depends: ${perl:Depends}, libopenxpki-client-perl
Description: OpenXPKI Perl command line interface
 OpenXPKI is an Open Source PKI project.
 .
 This package contains a command line interface client for an OpenXPKI server.
