<openxpki>
  <common>
    <log_config>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/etc/openxpki/log.conf</log_config>
    <server>
        <user>klink</user>
        <group>klink</group>
        <socket_file>/var/tmp/openxpki-client-test.socket</socket_file>
        <pid_file>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/var/openxpki/openxpki.pid</pid_file>
        <session_dir>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/var/openxpki/session</session_dir>
        <connection_timeout>120</connection_timeout>
        <session_lifetime>1200</session_lifetime>
        <stderr>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/var/openxpki/stderr.log</stderr>
        <tmpdir>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/var/tmp</tmpdir>
        <transport>Simple</transport>
        <serialization>Simple</serialization>
        <serialization>JSON</serialization>
        <service>Test</service>
        <service>Default</service>
        <service>SCEP</service>
    </server>
    <i18n>
        <locale_directory>/Users/klink/usr/local/share/locale</locale_directory>
        <default_language>C</default_language>
    </i18n>
    <data_exchange>
        <export>
            <dir>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/var/openxpki/dataexchange/export</dir>
        </export>
        <import>
            <dir>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/var/openxpki/dataexchange/import</dir>
        </import>
    </data_exchange>

    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="token.xml"/>
  </common>


  <pki_realm name="I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA">
    <common id="default">
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default}"/>

      <secret>
        <group id="default" label="I18N_OPENXPKI_CONFIG_DEFAULT_SECRET_AUTHENTICATION_GROUP">
          <method id="literal">
            <value>1234567890</value>
          </method>
          <cache>
            <type>daemon</type>
            <usage_count>-1</usage_count>
          </cache>
        </group>
      </secret>

      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
    </common>

    <!-- Issuing CAs defined for this realm -->
    <!-- 'id' is the internal CA identifier -->
    <ca id="testdummyca1">
      <token super="common/token_config/token{testdummyca1}"/>
      <!-- CONFIG -->
      <cert>
          <alias>testdummyca1</alias>
          <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <crl_publication>
        <file>
            <filename>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/etc/openxpki/ca/testdummyca1/crl.pem</filename>
            <format>PEM</format>
        </file>
        <!--
        <ldap>
            <server></server>
            <port></port>
            <bind_dn></bind_dn>
            <pass></pass>
            <base_dn></base_dn>
            <search_dn></search_dn>
        </ldap>
        -->
      </crl_publication>
    </ca>
    <ca id="testdummyca2">
      <token super="common/token_config/token{testdummyca2}"/>
      <!-- CONFIG -->
      <cert>
          <alias>testdummyca2</alias>
          <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <crl_publication>
        <file>
            <filename>/Users/klink/dev/tocopy/openxpki/trunk/clients/perl/OpenXPKI-Client-SCEP/t/instance/etc/openxpki/ca/testdummyca2/crl.pem</filename>
            <format>PEM</format>
        </file>
        <!--
        <ldap>
            <server></server>
            <port></port>
            <bind_dn></bind_dn>
            <pass></pass>
            <base_dn></base_dn>
            <search_dn></search_dn>
        </ldap>
        -->
      </crl_publication>
    </ca>

    <!-- Subsystems defined for this realm -->
    <!-- 'id' is the subsystem identifier -->
    <scep id="testscepserver1">
      <cert>
        <alias>testscepserver1</alias>
        <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <token super="common/token_config/token{testscepserver1}"/>
    </scep>
    <pkcs7 id="testsceppkcs7tool1">
      <token super="common/token_config/token{testsceppkcs7tool1}"/>
    </pkcs7>


    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="auth.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="acl.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="workflow.xml"/>
  </pki_realm>


</openxpki>
