[Unit]
Description=OpenXPKI Trustcenter Frontend
After=network.target apache2.service openxpkid.service
Requires=openxpkid.service

[Service]
Type=exec
PIDFile=/run/openxpki-clientd/openxpki-clientd.pid
EnvironmentFile=-/etc/sysconfig/openxpki
ExecStart=/usr/bin/openxpkictl start client $OPENXPKI_CLIENT_OPTS
User=openxpkiclient
Group=openxpkiclient
SupplementaryGroups=www-data

RuntimeDirectory=openxpki-clientd
RuntimeDirectoryMode=0755
TimeoutStartSec=5s
TimeoutStopSec=10s
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target
