<div class="container-fluid bg-dark text-light">
    <div class="row py-2 align-items-center">
        {{#if this.config.header}}
            <div class="col">
                {{{this.config.header}}}
            </div>
        {{else}}
            <div class="col">
                <a href="./#/"><img src="{{this.rootURL}}img/logo.png"></a>
            </div>
            <div class="col d-none d-md-flex justify-content-center">
                <h4 class="oxi-header">
                    {{t 'site.header'}}
                </h4>
            </div>
        {{/if}}
        <div class="col">
            <Application::Header::Userinfo/>
        </div>
    </div>
</div>
