.DS_Store
*~
*.patch
doc.html/
doc/_build/
doc/_themes/
core/server/Makefile
core/i18n/VERSION
core/i18n/*/openxpki.mo
core/i18n/openxpki.pot
core/htdocs_source/node_modules/
vagrant/*/.vagrant/
vagrant/**/oracle-xe-*.rpm.zip
package/debian/deb
package/debian/lib
