/* classes for table-grid */

/*plain grid-row without status */
tr.gridrow > td {}
tr.gridrow:hover > td {background-color: #E7E7E7 !important;}

/* certificate specific classes: issued, expired, revoked */
tr.gridrow-issued > td {}
tr.gridrow-issued:hover > td {background-color: #E7E7E7 !important;}
tr.gridrow-expired > td {background-color:#fcf8e3 !important;}
tr.gridrow-expired:hover > td {background-color: #E7E7E7 !important;}
tr.gridrow-revoked > td {background-color: #f2dede !important;}
tr.gridrow-revoked:hover > td {background-color: #e6c1c7 !important;}

/* ca certificat/token specific classes: online, offline, upcomging */
tr.gridrow-online > td {background-color:#dff0d8 !important;}
tr.gridrow-online:hover > td {background-color: #E7E7E7 !important;}
tr.gridrow-offline > td {background-color:#f2dede !important;}
tr.gridrow-offline:hover > td {background-color: #E7E7E7 !important;}
tr.gridrow-upcoming > td {background-color:#d9edf7 !important;}
tr.gridrow-upcoming:hover > td {background-color: #E7E7E7 !important;}

/* workflow specific classes: finished, exception, manual, pause, failed */
tr.gridrow-finished > td {background-color: #e8f0e4!important;}
tr.gridrow-finished:hover > td {background-color: #c9e2b3 !important;}
tr.gridrow-failed > td {background-color: #ebcccc !important;}
tr.gridrow-failed:hover > td {background-color: #e6c1c7 !important;}
tr.gridrow-manual > td { background-color: #ffff4c !important; }
tr.gridrow-manual:hover > td {background-color: #E7E7E7 !important;}
tr.gridrow-paused > td {background-color: silver !important;}
tr.gridrow-paused:hover > td {background-color: #e7e7e7 !important;}
tr.gridrow-exception > td {background-color: #ffc04d!important;}
tr.gridrow-exception:hover > td {background-color: #ffe4b3!important;}


/**general classes...*/
tr.gridrow-ok > td {background-color: #dff0d8 !important;}
tr.gridrow-ok:hover > td {background-color: #c9e2b3 !important;}
tr.gridrow-warning > td {background-color: #fbeed5 !important;}
tr.gridrow-warning:hover > td {background-color: #faf2cc !important;}
tr.gridrow-danger > td {background-color: #ebcccc !important;}
tr.gridrow-danger:hover > td {background-color: #e6c1c7 !important;}
