html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
body>div.ember-view {
  height: 100%;
}

label {
    overflow: hidden;
    text-overflow: ellipsis;
}

#application {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  padding-top: 20px;
  background-color: #f5f5f5;
}

.oxi-form{
    width: 600px;
}

.oxi-message{

}

.navbar{
   margin-bottom:10px;
}

.maincontent{
   margin-bottom:300px;
}

.container.sections{
    padding-top:20px;
}

.form-control-combo {
  width: 95%;
}

div.required label {

}

div.required input, div.required select, div.required textarea {
    background-color:#fff3c2;
    border:1px solid #444;
}


div.optional input, div.optional select, div.optional textarea {
    border:1px #888 dashed;
}

div.section{
    padding:0px !important;
}

.oxi-grid-container{
   padding-bottom:40px;
}

.oxi-button-container{
   padding-top:20px;
   padding-bottom:20px;
   /*margin:20px;   */
}

/* Button format from workflow defs */
.oxi-button-container .btn.expected,
.oxi-form-button button.btn.submit {
    background-color: #c9e2b3;
}

.oxi-button-container .btn.optional {
    background-color: #e4e4da;
}

.oxi-button-container .btn.failure,
.oxi-form-button .btn.failure,
.oxi-form-button .btn.cancel {
    background-color: #e39f9f;
}

.oxi-form-button .btn.reset,
.oxi-button-container .btn.alternative {
    background-color: #ffd78c;
}

.oxi-button-container .btn.exceptional {
    background-color: #79d1f3;
}

img.toplogo{
   padding-top:6px;
   padding-right:12px;
}

.clonable-margin-right{
    margin-right: 0px;
}

.clonable-margin-normal{
    margin-right: 0px;
}

.clonable-icon{
    text-indent: 6px;
}
.clonable-icon.clonable-add{
    background: url("../img/add.png") no-repeat scroll left center;
}
.clonable-icon.clonable-remove{
    background: url("../img/remove.png") no-repeat scroll left center;
}

/* class attached to the column holding the clonable buttons */
.clonable-btn-group {
    white-space: nowrap;
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;

  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #E7E7E7;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  background-color: transparent;
  border-right:1px solid;
}

/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/* Fix pointer on bootstrap navbars */
ul.pagination li:not(.disabled) > a {
    cursor: pointer;
}

/* Status Labels inside key/value lists, e.g */
span.styled-valid,
span.dns-valid,
span.certstatus-issued {
    color: green;
}

span.styled-failed,
span.dns-failed,
span.certstatus-revoked {
    color: red;
}

span.styled-attention,
span.certstatus-crl_issuance_pending {
    color: orange;
}

span.certstatus-expired {
    color: #444;
}

span.dns-timeout,
span.certstatus-unknown {
    color: #79d1f3;
}

span.styled-attention,
span.styled-failed {
    font-weight: bold;
}
/* keep line wraps in code */
code { white-space: pre; }
