#
# OpenSSL example configuration file.
# This is mostly being used for generation of certificate requests.
#

# This definition stops the following lines choking if HOME isn't
# defined.
HOME                    = .
RANDFILE                = @var_prefix@/25_crypto/keys/.rand

# Extra OBJECT IDENTIFIER info:
#oid_file               = $ENV::HOME/.oid
oid_section             = new_oids

# To use this configuration file with the "-extfile" option of the
# "openssl x509" utility, name here the section containing the
# X.509v3 extensions to use:
# extensions            =
# (Alternatively, use a configuration file that has only
# X.509v3 extensions in its main [= default] section.)

[ new_oids ]

# We can add new OIDs in here for use by 'ca' and 'req'.
# Add a simple OID like this:
# testoid1=1.2.3.4
# Or use config file substitution like this:
# testoid2=${testoid1}.5.6

## used by ISIS-MTT
pseudonym=2.5.4.65

####################################################################
[ ca ]
default_ca	= CA_default		# The default ca section

####################################################################
[ CA_default ]

dir		= t/25_crypto/ca1	# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crls		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
new_certs_dir	= $dir/certs		# default place for new certs.

certificate	= $dir/cacerts/cacert.pem	# The CA certificate
serial		= $dir/serial			# The current serial number
crl		= $dir/crls/current.pem		# The current CRL
private_key	= $dir/keys/cakey.pem		# The private key
RANDFILE	= $dir/keys/.rand		# private random number file
oid_file	= $dir/.oid

#crl_extensions	= crl_ext		# Extensions to add to CRL
                                        # As Netscape only accepts CLRs V1,
					# DON't use CRL's extensions
					# at least if you are uning Netscape
					# 4.5(-).

default_days	= 365			# how long to certify for
default_crl_days= 31			# how long before next CRL
default_md	= sha1			# which md to use.
preserve	= yes			# keep passed DN ordering

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		= policy_match
x509_extensions = v3_ca

## utf8 support options
## please do not touch or OpenCA's utf8 support breaks
utf8=yes                    # needed for correct issue of cert. This is 
                            # interchangeable with -utf8 "subj" command line modifier.
string_mask=utf8only        # needed for correct issue of cert
name_opt = RFC2253,-esc_msb

# For the CA policy
[ policy_match ]
countryName		= optional
organizationName	= optional
organizationalUnitName	= optional
commonName		= optional
mail			= optional

####################################################################

[ req ]
default_bits		= 1024
default_keyfile 	= privkey.pem
distinguished_name	= req_distinguished_name
attributes		= req_attributes
x509_extensions		= v3_ca	                  # The extentions to
						  # add to the self signed
						  # cert

## utf8 support options
## please do not touch or OpenCA's utf8 support breaks
utf8=yes                    # needed for correct issue of cert. This is 
                            # interchangeable with -utf8 "subj" command line modifier.
string_mask=utf8only        # needed for correct issue of cert
## will be ignored today by "openssl req"
## name_opt = RFC2253,-esc_msb

[ req_distinguished_name ]
mail				= Email Address
mail_max			= 60

commonName			= Common Name (eg, YOUR name)
commonName_max			= 64

organizationalUnitName		= Organizational Unit Name (eg, section)
#organizationalUnitName_default	= Humboldt-Universitaet zu Berlin User

0.organizationName		= Organization Name (eg, company)
0.organizationName_default	= Humboldt-Universitaet zu Berlin

countryName			= Country Name (2 letter code)
countryName_default		= de
countryName_min			= 2
countryName_max			= 2

## stateOrProvinceName		= State or Province Name (full name)
## stateOrProvinceName_default	= Some-State

## localityName			= Locality Name (eg, city)

# we can do this but it is not needed normally :-)
#1.organizationName		= Second Organization Name (eg, company)
#1.organizationName_default	= World Wide Web Pty Ltd

SET-ex3				= SET extension number 3

[ req_attributes ]
## challengePassword		= A challenge password
## challengePassword_min	= 4
## challengePassword_max	= 20

## unstructuredName		= An optional company name

[ v3_ca]

# These extensions are added when 'ca' signs a request.

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.

basicConstraints=critical,CA:FALSE

# Here are some examples of the usage of nsCertType. If it is omitted
# the certificate can be used for anything *except* object signing.

# For an object signing certificate this would be used.
#nsCertType = objsign

# For normal client use this is typical
nsCertType = client, email

# This is typical also

keyUsage = nonRepudiation, digitalSignature, keyEncipherment
## 1.3.6.1.4.1.311.20.2.2 Microsoft smartcardlogin
## send to openssl-dev@openssl.org 2002-Aug-15
extendedKeyUsage = clientAuth, emailProtection, 1.3.6.1.4.1.311.20.2.2
nsComment		= "User Certificate of @ca_organization@"

# Certificate Template "SmartcardUser" (bmp string)
# 1.3.6.1.4.1.311.20.2=DER:1e:1a:00:53:00:6d:00:61:00:72:00:74:00:63:00:61:00:72:00:64:00:55:00:73:00:65:00:72

# PKIX recommendations
# PKIX recommendations
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer:always

# Import the email address.

subjectAltName=@subject_alt_name

# Copy subject details

issuerAltName=issuer:copy

nsCaRevocationUrl	= @NS_CRLDistributionPoint@
nsRevocationUrl		= @NS_CRLDistributionPoint@
crlDistributionPoints   = @cdp_section

[ subject_alt_name ]

email=john.doe@openca.info

[ cdp_section ]

URI.1=http://www.openca.info/crl.crt

[ crl_ext ]

# CRL extensions.
# Only issuerAltName and authorityKeyIdentifier make any sense in a CRL.

# As Netscape only accepts CLRs Version1, DON't use CRL's extensions
# at least if you are uning Netscape 4.5(-).
# issuerAltName=issuer:copy
# authorityKeyIdentifier=keyid:always,issuer:always
