<div id="footer">
    <div class="container-fluid">
        <p class="text-center text-muted credit">
            &copy; Copyright {{this.envBuildYear}} &ndash; <a href="http://www.openxpki.org/">The OpenXPKI Project</a>
        </p>
    </div>
</div>
