<div class="checkbox">
    <label>
        <input
            type="checkbox"
            checked={{@content.value}}
            {{on "input" this.onInput}}
        />
        {{@content.label}}
    </label>
</div>
