#! config for backend/workflow/9x_nice_*.t

# General OpenXPKI  Instance parameters
[instance]
realm = 
socketfile = /var/openxpki/openxpki.socket
# We issue and than revoke a certiticate 
# and need a place to transport the info between the tests
buffer = /tmp/nicetest.tmp
verbose = 0

# RA Operator OpenXPKI user
[operator]
name = niceop
role = RA Operator

# Regular OpenXPKI user
[user]
name = niceuser
role = User

[csr]
profile = I18N_OPENXPKI_PROFILE_OPENVPN_CLIENT
role = Web Server