<openxpki>
  <common>
    <log_config>t/28_log/log.conf</log_config>
    <server>
        <user>root</user>
        <group>root</group>
        <socket_file>t/socket</socket_file>
        <pid_file>t/pid</pid_file>
        <session_dir>t/50_auth</session_dir>
        <connection_timeout>120</connection_timeout> <!-- 20 minutes -->
        <session_lifetime>1200</session_lifetime> <!-- 20 minutes -->
        <stderr>t/stderr.log</stderr>
        <transport>Simple</transport>
        <serialization>Simple</serialization>
        <serialization>JSON</serialization>
        <service>Default</service>
    </server>
    <i18n>
        <locale_directory>t</locale_directory>
        <default_language>C</default_language>
    </i18n>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="30_dbi/database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="28_log/log_database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/token_test.xml"/>
  </common>

  <pki_realm name="Test Root CA" id="root1">

    <common id="default">
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default}"/>

      <secret>
        <group id="default" label="I18N_OPENXPKI_CONFIG_DEFAULT_SECRET_AUTHENTICATION_GROUP">
          <method id="literal">
            <value>1234567890</value>
          </method>
          <cache>
            <type>daemon</type>
            <usage_count>-1</usage_count>
          </cache>
        </group>
        <group id="hsm" label="I18N_OPENXPKI_TOKEN_CONFIG_HSM_AUTHENTICATION_GROUP">
          <method id="literal">
            <value></value>
          </method>
          <cache>
            <type>daemon</type>
            <usage_count>-1</usage_count>
          </cache>
        </group>
      </secret>

      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="25_crypto/profile.xml"/>

    </common>
    

    <!-- Issuing CAs defined for this realm -->
    <!-- 'id' is the internal CA identifier -->
    <ca id="INTERNAL_CA_1">
      <cert>
        <alias>INTERNAL_CA_1</alias>
        <realm>Test Root CA</realm>
      </cert>
      <token super="common/token_config/token{ca1}"/>
    </ca>

    <ca id="INTERNAL_CA_2">
      <cert>
         <alias>INTERNAL_CA_2</alias>
         <realm>Test Root CA</realm>
      </cert>
      <token    super="common/token_config/token{ca2}"/>
    </ca>

    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="50_auth/auth_test.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="50_auth/acl.xml"/>

  </pki_realm>

  <pki_realm name="Test GOST Root CA" id="root_gost" super="pki_realm{root1}">

    <common id="default">
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default_gost}"/>

    </common>

    <ca id="INTERNAL_CA_GOST">
      <token    super="common/token_config/token{cagost}"/>
    </ca>

  </pki_realm>

  <pki_realm name="Test nCipher Root CA" id="root_nciph" super="pki_realm{root1}">

    <common id="default">
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default_nciph}"/>

    </common>

    <ca id="INTERNAL_CA_NCIPH">
      <token    super="common/token_config/token{canciph}"/>
    </ca>

  </pki_realm>

</openxpki>
