{{#if @content.content.label}}
    <h3>{{@content.content.label}}</h3>
{{/if}}
{{#if @content.content.description}}
    <div class="mb-3">{{{@content.content.description}}}</div>
{{/if}}

<span {{on-init this.initialized}}>
    {{component this.type def=this.sectionData buttonClick=this.buttonClick}}
</span>
