<div class="container-fluid">
    <div class="page-header header row">
        <div class="col-xs-6">
            <h2>
                <img src="style/img/logo.png" class="toplogo">
                &nbsp;
                <small>Open Source Trustcenter</small>
            </h2>
        </div>
        <div class="col-xs-6">
            {{partial "applicationHeaderUserinfo"}}
        </div>
    </div>
</div>
