<h3>{{this.content.content.label}}</h3>
{{#if this.content.content.description}}
    <div class="description">{{{this.content.content.description}}}</div>
{{/if}}

{{component this.type content=@content buttonClick=this.buttonClick}}
