Source: libopenxpki-client-perl
Maintainer: Scott T Hardin <scotty@hnsc.de>
Priority: optional
Build-Depends: debhelper (>= 3.0.18), perl (>= 5.6.0), libversion-perl

Package: libopenxpki-client-perl
Architecture: any
Recommends:
Section: perl
Priority: optional
Depends: ${perl:Depends}, libopenxpki-perl, libversion-perl, libclass-std-perl
Description: OpenXPKI Perl client API
 OpenXPKI is an Open Source PKI project.
 .
 This package contains a common Perl API to develop Perl
 based clients for an OpenXPKI server.
