HOME                    = .


openssl_conf = openssl_def

[ openssl_def ]

engines = engine_section

[ engine_section ]

chil = chil_section

[ chil_section ]
# engine_id is only required if it differs from the name in  engine_section
engine_id   = chil
dynamic_path = $ENV::CHIL_LIBRARY
THREAD_LOCKING = 1

[ req ]
# settings for 'ca initialize'
distinguished_name      = ca_dn
prompt                  = no
x509_extensions = ca_ext_root
#req_extensions = ca_ext_l2
string_mask = nombstr

[ ca_dn ]
countryName = DE
organizationName = OpenXPKI
organizationalUnitName = Testing
commonName = OpenXPKI TEST NCIPHER DUMMY CA 1


[ ca ]
default_ca      = CA_default

[ ca_ext_root ]

subjectKeyIdentifier=hash

authorityKeyIdentifier=keyid:always

basicConstraints = critical,CA:true

keyUsage = critical, cRLSign, keyCertSign

[ CA_default ]

unique_subject = yes

x509_extensions = ca_ext_root                # The extentions to add to the cert
copy_extensions         = none

crl_extensions  = ca_crl_ext

default_days    = 1460                  # how long to certify for
default_crl_days = 365                  # how long before next CRL
default_crl_hours = 0                   # how long before next CRL
preserve        = no                    # keep passed DN ordering

policy          = policy_any

database = index.txt
serial = serial
email_in_dn = no
default_md = sha1

[ policy_any ]
domainComponent         = optional
organizationName        = optional
emailAddress            = optional
commonName              = optional


