.styled-attention,.styled-failed,.tab-close{font-weight:700}
.oxi-button-container a.btn:before,ol.breadcrumb .cert-search:before,ol.breadcrumb .workflow-search:before,ol.breadcrumb .workflow-state:before,ol.breadcrumb .workflow-type:before{font-family:"Glyphicons Halflings";padding-right:5px}
body,body>.ember-view,html{height:100%}
#waiting-for-ember .alert{margin-top:1em}
#application{min-height:100%;height:auto!important;height:100%;margin:0 auto -60px;padding:0 0 60px}
#footer{height:60px;padding-top:20px;background-color:#f5f5f5}
.header{margin-top:0;margin-bottom:0}
.toplogo{padding-top:6px;padding-right:12px}
.header .userinfo{font-size:small;color:#aaa;margin-top:20px}
label{overflow:hidden;text-overflow:ellipsis}
.description{margin-bottom:12px}
.tab-close{font-size:18px;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.2}
.tab-close:focus,.tab-close:hover{color:#000;text-decoration:none;cursor:pointer;opacity:.5}
.modal-header+.modal-body h3{margin-top:5px}
.navbar{margin-bottom:10px}
.maincontent{margin-bottom:300px}
.container.sections{padding-top:20px}
.section{padding:0!important}
.table-bordered tr.spacer th{padding-top:15px;background-color:#eee}
ul.pagination li:not(.disabled)>a{cursor:pointer}
span.pagination-label{float:left;padding:6px 0}
span.oxi-label{display:inline-block;white-space:nowrap}
dl,ul{margin-bottom:0}
dd{padding:0 0 0 1em}
dd+dt{padding-top:.5em}
.loading.progress,.refresh.progress{position:fixed;top:30px;right:20px;width:100px}
.loading.progress .progress-bar,.refresh.progress .progress-bar{width:100%}
.waiting-for-ember{margin-top:80px}
.oxi-pagehead ol.breadcrumb{margin:10px 0 0;padding:0;background-color:transparent;border:none;border-radius:0;list-style:none inside;color:#a0a0a0}
ol.breadcrumb>li+li:before{color:#a0a0a0}
.oxi-pagehead ol.breadcrumb+h2{margin-top:10px}
ol.breadcrumb .workflow-type:before{content:"\e136";color:#a0a0a0}
ol.breadcrumb .workflow-state:before{content:"\e062";color:#a0a0a0}
ol.breadcrumb .cert-search:before,ol.breadcrumb .workflow-search:before{content:"\e003";color:#a0a0a0}
ol.breadcrumb .cert-search-result:before,ol.breadcrumb .workflow-search-result:before{padding-right:5px;font-family:"Glyphicons Halflings";content:"\e056";color:#a0a0a0}
.oxi-grid-container{padding-bottom:40px}
div.oxisection-grid th.sortable{cursor:pointer;-webkit-user-select:none}
tr.has-action{cursor:pointer}
tr.gridrow-issued:hover>td,tr.gridrow:hover>td{background-color:#E7E7E7!important}
tr.gridrow-expired>td{background-color:#fcf8e3!important}
tr.gridrow-expired:hover>td{background-color:#E7E7E7!important}
tr.gridrow-revoked>td{background-color:#f2dede!important}
tr.gridrow-revoked:hover>td{background-color:#e6c1c7!important}
tr.gridrow-online>td{background-color:#dff0d8!important}
tr.gridrow-online:hover>td{background-color:#E7E7E7!important}
tr.gridrow-offline>td{background-color:#f2dede!important}
tr.gridrow-offline:hover>td{background-color:#E7E7E7!important}
tr.gridrow-upcoming>td{background-color:#d9edf7!important}
tr.gridrow-upcoming:hover>td{background-color:#E7E7E7!important}
tr.gridrow-finished>td{background-color:#e8f0e4!important}
tr.gridrow-finished:hover>td{background-color:#c9e2b3!important}
tr.gridrow-failed>td{background-color:#f3d3d3!important}
tr.gridrow-failed:hover>td{background-color:#e6a1ac!important}
tr.gridrow-manual>td{background-color:#fcfcca!important}
tr.gridrow-manual:hover>td{background-color:#f3f330!important}
tr.gridrow-paused>td{background-color:silver!important}
tr.gridrow-paused:hover>td{background-color:#e7e7e7!important}
tr.gridrow-retry_exceeded>td{background-color:#ffc04d!important}
tr.gridrow-retry_exceeded:hover>td{background-color:#ffe4b3!important}
tr.gridrow-exception>td{background-color:#ffc04d!important}
tr.gridrow-exception:hover>td{background-color:#ffe4b3!important}
tr.gridrow-ok>td{background-color:#dff0d8!important}
tr.gridrow-ok:hover>td{background-color:#c9e2b3!important}
tr.gridrow-warning>td{background-color:#fbeed5!important}
tr.gridrow-warning:hover>td{background-color:#faf2cc!important}
tr.gridrow-danger>td{background-color:#ebcccc!important}
tr.gridrow-danger:hover>td{background-color:#e6c1c7!important}
.certstatus-issued,.dns-valid,.styled-valid{color:green}
.certstatus-revoked,.dns-failed,.styled-failed{color:red}
.certstatus-crl_issuance_pending,.dns-skipped,.styled-attention{color:orange}
.certstatus-expired{color:#444}
.certstatus-unknown,.dns-timeout{color:#79d1f3}
code{white-space:pre}
input.in-form-group{margin-bottom:15px}
.oxi-no-input{padding-top:6px}
div.required input,div.required select,div.required textarea{background-color:#fff3c2;border:1px solid #444}
div.required input.form-control[disabled],div.required select.form-control[disabled],div.required textarea.form-control[disabled]{border:1px solid #ccc}
div.optional input,div.optional select,div.optional textarea{border:1px dashed #888}
.oxi-checkbox{position:relative;top:4px;display:inline-block;width:18px;height:18px;border:2px solid;border-radius:2px;border-color:rgba(0,0,0,.54)}
.oxi-checkbox.checked:after{position:absolute;left:2px;top:2px;width:10px;height:10px;border-radius:2px;opacity:.54;background-color:#000;content:' '}
div.oxifield-upload{position:relative;padding-bottom:34px}
.clonable-btn-group{white-space:nowrap}
.stacked-buttons{margin-top:4px;margin-bottom:4px}
.stacked-buttons .btn-bt-margin{margin-top:6px;margin-bottom:6px}
.oxi-btn-loading{color:#fff;background-color:#428bca;border-color:#357ebd}
.oxi-btn-loading.active,.oxi-btn-loading:active,.oxi-btn-loading:focus,.oxi-btn-loading:hover{color:#fff;background-color:#3276b1;border-color:#285e8e}
.oxi-button-container{padding-top:20px;padding-bottom:20px}
.oxi-button-container div.spacer{margin:5px}
.oxi-button-container a.btn:before{content:"\e144";color:#a0a0a0}
.oxi-btn-expected,.oxi-btn-expected:focus,.oxi-btn-expected:hover,.oxi-btn-submit,.oxi-btn-submit:focus,.oxi-btn-submit:hover{background-color:#c9e2b3}
.oxi-btn-optional,.oxi-btn-optional:focus,.oxi-btn-optional:hover{background-color:#e4e4da}
.oxi-btn-cancel,.oxi-btn-cancel:focus,.oxi-btn-cancel:hover,.oxi-btn-failure,.oxi-btn-failure:focus,.oxi-btn-failure:hover{background-color:#e39f9f}
.oxi-btn-alternative,.oxi-btn-alternative:focus,.oxi-btn-alternative:hover,.oxi-btn-reset,.oxi-btn-reset:focus,.oxi-btn-reset:hover{background-color:#ffd78c}
.oxi-btn-exceptional,.oxi-btn-exceptional:focus,.oxi-btn-exceptional:hover{background-color:#79d1f3}
.oxi-btn-terminate,.oxi-btn-terminate:focus,.oxi-btn-terminate:hover{background-color:#ad7fa8}
.hover-element{display:inline flex;flex-direction:column}
.hover-element .content{margin:0 auto}
.hover-element .menu{display:none;background-color:#dff0d8;box-shadow:0 8px 16px 0 rgba(0,0,0,.2);z-index:10;width:100%;padding:6pt}
.hover-element:hover .menu{display:block}
.hover-element:hover .content{border-color:#bfe0a8}