# The name of the file equals the name of the profile

validity: 
    notafter: +0003

digest: sha1
increasing_serials: 1
randomized_serial_bytes: 8

style:
    00_basic_style:
        label: I18N_OPENXPKI_PROFILE_TLS_BASIC_STYLE
        description: I18N_OPENXPKI_PROFILE_TLS_BASIC_DESC
        ui:
            subject:
                - hostname
                - hostname2
                - port
            san: 
                - san_dns
                - san_ipv4
            info:
                - requestor_gname
                - requestor_name
                - requestor_email
                - requestor_affiliation
                - comment

        subject: 
            dn: CN=[% hostname %][% IF port AND port != 443 %]:[% port %][% END %],DC=Test Deployment,DC=OpenXPKI,DC=org
            san: 
              DNS: 
              - "[% hostname %]"
              - "[% FOREACH entry = hostname2 %][% entry %] | [% END %]"

        metadata:
            requestor: "[% requestor_gname %] [% requestor_name %]"
            email: "[% requestor_email %]"


    05_advanced_style:
        label: I18N_OPENXPKI_PROFILE_ADVANCED_STYLE
        description: I18N_OPENXPKI_PROFILE_ADVANCED_DESC
        ui:
            subject:
                - cn
                - o
                - ou
                - dc
                - c
#            san:
#                - san_choice
#                - san_oid

            info:
                - requestor_gname
                - requestor_name
                - requestor_email
                - requestor_affiliation
                - comment

        subject:
            dn: CN=[% CN %][% IF OU %][% FOREACH entry = OU %],OU=[% entry %][% END %][% END %][% IF O %],O=[% O %][% END %][% FOREACH entry = DC %],DC=[% entry %][% END %][% IF C %],C=[% C %][% END %]
  
    enroll:
        subject: 
            dn: CN=[% CN.0 %],DC=Test Deployment,DC=OpenXPKI,DC=org
        
        metadata:
            system_id: "[% data.cust_id %]"
            server_id: "[% data.server_id %]"

role:
- Web Server
- TLS Server

# Profile extensions - set 0/1 as needed
extensions:
    copy: copy

    basic_constraints:
        critical: 1
        ca: 0

    key_usage:
        critical: 0
        digital_signature: 1
        non_repudiation:   0
        key_encipherment:  1
        data_encipherment: 1
        key_agreement:     1
        key_cert_sign:     0
        crl_sign:          0
        encipher_only:     0
        decipher_only:     0

    extended_key_usage:
        critical: 0
        # these are OIDs, some OIDs are known and have names
        client_auth:      0
        email_protection: 0

    subject_key_identifier:
        critical: 0
        hash: 1

    authority_key_identifier:
        critical: 0
        keyid:  1
        issuer: 1

    issuer_alt_name:
        critical: 0
        # If the issuer has no subject alternative name, copying returns
        # an empty extension, which is problematic with both RSA SecurId
        # tokens and Cisco devices!
        copy: 1


    crl_distribution_points:
        critical: 0
        uri:
        - http://localhost/cacrl.crt
        - ldap://localhost/cn=My%20CA,dc=OpenXPKI,dc=org

    authority_info_access:
        critical: 0
        ca_issuers: http://localhost/cacert.crt
        ocsp: http://ocsp.openxpki.org/

    policy_identifier:
        critical: 0
        # WARNING: if use_loa is set to yes, the policy_identifier
        # will be extended by the values in the appropriate loa tag
        oid: 1.2.3.4

    oid:
        # as the config layer has problems with dots in names we need a 
        # string identifier for each items - its value is not used anywhere
        anyname: 
            # Microsoft Certificate Template Extension
            oid: 1.3.6.1.4.1.311.21.7
            value: ASN1:IA5STRING:TLS Server

    cps:
        critical: 0
        # WARNING: if use_loa is set to yes, the cps will be
        # extended by the values in the appropriate loa tag
        uri: http://localhost/cps.html

    netscape:
        comment:
            critical: 0
            text: This is a generic certificate. Generated with OpenXPKI trustcenter software.
        certificate_type:
            critical: 0
            ssl_client:        0
            smime_client:      0
            object_signing:    0
            ssl_client_ca:     0
            smime_client_ca:   0
            object_signing_ca: 0

        cdp:
            critical: 0
            uri: http://localhost/cacrl.crt
            ca_uri: http://localhost/cacrl.crt
     # end of netscape section
# end of extensions

# Define the input fields you used below here
#template:


