{{#if this.openxpki.model.user}}
    {{#let this.openxpki.model.user as |u|}}
        <div class="userinfo">
            <ul class="nav">
                <li class="text-right">
                    Signed in as:
                    <strong>{{u.realname}} <span class="user_role">({{u.role}})</span></strong>
                </li>
                <li class="text-right">
                    Realm:
                    <strong>{{u.pki_realm_label}} <span class="pki_realm">({{u.pki_realm}})</span></strong>
                </li>
            </ul>
        </div>
    {{/let}}
{{/if}}
