{{#if this.user}}
    <div class="userinfo">
        <ul class="nav">
            <li class="text-right">
                Signed in as:
                <strong>{{this.user.realname}} <span class="user_role">({{this.user.role}})</span></strong>
            </li>
            <li class="text-right">
                Realm:
                <strong>{{this.user.pki_realm_label}} <span class="pki_realm">({{this.user.pki_realm}})</span></strong>
            </li>
        </ul>
    </div>
{{/if}}
