Source: openxpki-cgi-session-driver
Maintainer: OpenXPKI Foundation <debian@openxpki.org>
Priority: optional
Build-Depends: debhelper (>= 3.0.18), perl (>= 5.6.0), libversion-perl

Package: openxpki-cgi-session-driver
Architecture: any
Recommends: libopenxpki-perl
Section: perl
Priority: optional
Depends:
Description: CGI Session Driver for OpenXPKI
 OpenXPKI is an Open Source PKI project.
 .
 This package contains a session database handler based on CGI::Session
 .
 Packaging information:
 OpenXPKI version       2.5.4
 Git commit hash:       77c36920ba44701cf24f0dcec695badb2f219f0b
 Git description:       v2.5.4
 Git tags:              v2.5.4

