<div id="footer">
    <div class="container-fluid">
        <p class="text-center text-muted credit">
            &copy; Copyright 2014, The OpenXPKI Project. See <a href="http://www.openxpki.org/">OpenXPKI project home</a>
        </p>
    </div>
</div>
