<div class="input-group">
    {{input class="form-control date" value=this.content.pickvalue placeholder=this.content.placeholder}}
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
</div>
