<table class="table table-bordered">
    <tbody>
        {{#each items as |item|}}
            <tr class="{{item.className}}">
                <td>{{item.label}}</td>
                <td>{{oxivalue-format content=item}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

{{oxi-button-container buttons=content.content.buttons buttonClick="buttonClick"}}
