<openxpki>
  <common>
    <log_config>[%        server.logconfig %]</log_config>
    <server>
        <user>[%          server.runuser %]</user>
        <group>[%         server.rungroup %]</group>
        <socket_file>[%   server.socketfile %]</socket_file>
        <pid_file>[%      server.pidfile %]</pid_file>
        <session_dir>[%   dir.openxpkisessiondir %]</session_dir>
        <connection_timeout>120</connection_timeout>
        <session_lifetime>[% server.session_lifetime %]</session_lifetime>
        <stderr>[%        server.stderrfile %]</stderr>
[% FOREACH item = server.transport %]
        <transport>[%     item %]</transport>
[% END %]
[% FOREACH item = server.serialization %]
        <serialization>[% item %]</serialization>
[% END %]
[% FOREACH item = server.service %]
        <service>[%       item %]</service>
[% END %]
    </server>
    <i18n>
        <locale_directory>[% dir.localedir %]</locale_directory>
        <default_language>[% i18n.defaultlanguage %]</default_language>
    </i18n>

    [% IF deployment.xmlstyle == 'multi-file' %]
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="token.xml"/>
    [% ELSIF deployment.xmlstyle == 'all-in-one' %]
      [% INCLUDE database.xml FILTER indent(4) %]
      [% INCLUDE token.xml    FILTER indent(4) %]
    [% ELSE %]
      [% THROW configerror 'Invalid XML output style specification (deployment.xmlstyle)' %]
    [% END %]
  </common>


[% FOREACH realmsection = global.pkirealm %]
  <pki_realm name="[% $realmsection.name %]">
    <common id="default">
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default}"/>

      [% IF deployment.xmlstyle == 'multi-file' %]
      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
      [% ELSIF deployment.xmlstyle == 'all-in-one' %]
        [% INCLUDE profile.xml FILTER indent(6) %]
      [% END %]
    </common>

    <!-- Issuing CAs defined for this realm -->
    <!-- 'id' is the internal CA identifier -->
    [% FOREACH ca = $realmsection.issuingca %]
    [% THROW config "No 'id' defined for issuing CA $ca" IF ! $ca.id.defined %]
    <ca id="[% $ca.id %]">
      <token super="common/token_config/token{[% $ca.id %]}"/>
    </ca>
    [% END %]

    <!-- Subsystems defined for this realm -->
    <!-- 'id' is the subsystem identifier -->
    [% FOREACH entry = $realmsection.subsystem %]
    [% THROW config "No 'id' defined for subsystem $entry" IF ! $entry.id.defined %]
    [% THROW config "No 'type' defined for subsystem $entry" IF ! $entry.type.defined %]
    <[% $entry.type %] id="[% $entry.id %]">
      <token super="common/token_config/token{[% $entry.id %]}"/>
    </[% $entry.type %]>
    [% END %]


    [% IF deployment.xmlstyle == 'multi-file' %]
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="auth.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="acl.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="workflow.xml"/>
    [% ELSIF deployment.xmlstyle == 'all-in-one' %]
      [% INCLUDE auth.xml  FILTER indent(4) %]
      [% INCLUDE acl.xml   FILTER indent(4) %]
      [% INCLUDE workflow.xml FILTER indent(4) %]
    [% END %]
  </pki_realm>

[% END %]

</openxpki>
