<OxiBase::Button::Raw @button={{this.button}} ...attributes>
    {{#if this.button.tooltip}}
        <Tippy>{{this.button.tooltip}}</Tippy>
    {{/if}}
    {{#if this.button.image}}
        <img src={{this.button.image}} alt="" role="presentation"/>
        <br/>
    {{/if}}
    {{#if this.button.loading}}
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    {{/if}}
    {{this.button.label}}
</OxiBase::Button::Raw>
