body, table, tr {
	font-family: arial, helvetica, sans-serif;	
}

#head {   
    background:url(../img/head.png) 20px center no-repeat;	
    height:40px;
    padding:0 0 0 125px;
    margin:0;
    
}
#head span {
	display:block;
	padding-top:13px;
	color:#999999;
}   