/*
 * CUSTOM STYLESHEETS
 * Copy this file to "localconfig.css" and add stylesheets or overwrite
 * those from assets/openxpki.css
 */
#footer {
  height: 30px;
  padding-top: 5px;
  background-color: #000000;
}
