#!/bin/sh -e

# Source debconf library.
. /usr/share/debconf/confmodule

if [ -e /etc/openxpki/instances/trustcenter1/ca/testdummyca1/cakey.pem ]; then
    db_input high openxpki-deployment/already_configured || true
    db_go
    exit 0
fi

db_input critical openxpki-deployment/start_message || true
db_go

db_input critical openxpki-deployment/style || true
db_go

db_get openxpki-deployment/style
STYLE=$RET
SUBJECT=""
if [ "$STYLE" = "dc" ]; then
    # dc style

    db_input critical openxpki-deployment/tld || true
    db_go
    db_get openxpki-deployment/tld
    SUBJECT="/DC=$RET"

    db_input critical openxpki-deployment/sld || true
    db_go
    db_get openxpki-deployment/sld
    SUBJECT="$SUBJECT/DC=$RET"
else
    # o/c style

    db_input critical openxpki-deployment/country || true
    db_go
    db_get openxpki-deployment/country
    SUBJECT="/C=$RET"

    db_input critical openxpki-deployment/organization || true
    db_go
    db_get openxpki-deployment/organization
    SUBJECT="$SUBJECT/O=$RET"
fi

db_input critical openxpki-deployment/ou || true
db_go
db_get openxpki-deployment/ou
SUBJECT="$SUBJECT/OU=$RET"

db_input critical openxpki-deployment/cn || true
db_go
db_get openxpki-deployment/cn
SUBJECT="$SUBJECT/CN=$RET"

db_set openxpki-deployment/subject "$SUBJECT"
db_input critical openxpki-deployment/subject || true
db_go

db_input critical openxpki-deployment/email || true
db_go

db_input critical openxpki-deployment/mysql_passwd || true
db_go

PASSWD="z"
#while [ "x$PASSWD" != "xz" ]; do
while [ "x$PASSWD" == "xz" ]; do
    db_input critical openxpki-deployment/passwd || true
    db_input critical openxpki-deployment/passwd1 || true
    db_go
    db_get openxpki-deployment/passwd
    PASSWD="$RET"
    db_get openxpki-deployment/passwd1
    PASSWD1="$RET"
    if [ "x$PASSWD" != "x$PASSWD1" ]; then
        PASSWD="z"
        db_reset openxpki-deployment/passwd ""
    fi
    db_reset openxpki-deployment/passwd1 ""
done


