<div class="row">
    <div class="col-md-12">
        {{textarea class="form-control" rows=rows cols=cols value=content.value placeholder=content.placeholder}}
    </div>
</div>

{{#if canReadFile}}
    <div class="row">
        <div class="col-md-offset-8 col-md-4 oxifield-upload">
            {{input type="file" class="oxi-file-input"}}
        </div>
    </div>
{{else}}
    <input name="file" id="file" size="27" type="file">
    <iframe class="oxifield-upload" name="upload_target" src=""></iframe>
{{/if}}
