<div class="checkbox">
    <label>
        <input
            type="checkbox"
            checked={{@content.value}}
            {{on "change" this.onInput}}
            {{may-focus this false}}
        />
        {{@content.label}}
    </label>
</div>
