<style type="text/css">
/* See https://leeoniya.github.io/uPlot/demos/multi-bars.html */
/*
    .{{this.guid}} .uplot .u-legend .u-series th {}
    .{{this.guid}} .uplot .u-legend .u-series td {}
*/
</style>
<div class={{this.guid}} {{on-init this.plot}}></div>
