<?xml version="1.0"?>
<!-- EXAMPLE catalog file for the OpenXPKI manual -->
<!-- edit this to match your local paths and copy it to catalog.xml -->
<!DOCTYPE catalog
   PUBLIC "-//OASIS/DTD Entity Resolution XML Catalog V1.0//EN"
   "http://www.oasis-open.org/committees/entity/release/1.0/catalog.dtd">
<catalog xmlns="urn:oasis:names:tc:entity:xmlns:xml:catalog">
  <!-- your docbook-xml-4.5 path goes here ||| -->
  <!--                                     VVV -->
  <group prefer="public" xml:base="file:///Users/klink/docbook/docbook-xml-4.5">
    <public
      publicId="-//OASIS//DTD DocBook XML V4.5//EN"
      uri="docbookx.dtd"/>
  </group>
  <!-- replace the URI with the path to your html/docbook.xsl -->
  <uri
    name="docbook-html.xsl"
     uri="file:///Users/klink/docbook/docbook-xsl-1.71.0/html/docbook.xsl"
  />
  <!-- replace the URI with the path to your fo/docbook.xsl -->
  <uri
    name="docbook-fo.xsl"
     uri="file:///Users/klink/docbook/docbook-xsl-1.71.0/fo/docbook.xsl"
  />
</catalog>
