<openxpki>
  <common>
    <log_config>/etc/openxpki/instances/trustcenter1/log.conf</log_config>
    <server>
        <user>openxpki</user>
        <group>openxpki</group>
        <socket_file>/var/openxpki/openxpki.socket</socket_file>
        <pid_file>/var/run/openxpkid.pid</pid_file>
        <session_dir>/var/openxpki/session</session_dir>
        <connection_timeout>120</connection_timeout>
        <session_lifetime>1200</session_lifetime>
        <stderr>/var/openxpki/stderr.log</stderr>
        <tmpdir>/var/tmp</tmpdir>
        <transport>Simple</transport>
        <service>Default</service>
        <service>SCEP</service>
    </server>
    <i18n>
        <locale_directory>/usr/share/locale</locale_directory>
        <default_language>C</default_language>
    </i18n>
    <data_exchange>
        <export>
            <dir>/var/openxpki/dataexchange/export</dir>
        </export>
        <import>
            <dir>/var/openxpki/dataexchange/import</dir>
        </import>
    </data_exchange>

    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="log_database.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="token.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="notification.xml"/>

  </common>


  <pki_realm name="I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA" id="I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA">
    <common id="default">
      <!-- default token (used for general crypto operations not requiring
           private key operations) -->
      <token super="common/token_config/token{default}"/>

      <secret>
        <group id="default" label="I18N_OPENXPKI_CONFIG_DEFAULT_SECRET_AUTHENTICATION_GROUP">
          <method id="plain">
            <total_shares>1</total_shares>
          </method>
        <!-- alternatively use one of the following methods:
          <method id="literal">password</method>
          Literal password in the configuration file, not recommended
          except for testing.

          <method id="split">
            <total_shares>3</total_shares>
          </method>
          Shamir's secret splitting, three passphrase shares, three
          required to unlock the secret.

          <method id="split">
            <total_shares>5</total_shares>
            <required_shares>3</required_shares>
          </method>
          Shamir's secret splitting, five passphrase shares, any three
          required to unlock the secret.
        --> 
          <cache>
            <type>daemon</type>
            <usage_count>-1</usage_count>
          </cache>
        </group>
      </secret>
      <notification>
          <notifier>rt1</notifier>
      </notification>

      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="profile.xml"/>
      <!-- LDAP addition  -->
      <!-- WARNING: keep "ldap_enable" set to "no" to avoid surprises  -->      
      <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="ldappublic.xml"/>
      <!-- end of LDAP addition  -->
    </common>

    <!-- Issuing CAs defined for this realm -->
    <!-- 'id' is the internal CA identifier -->
    <ca id="testdummyca1">
      <token super="common/token_config/token{testdummyca1}"/>
      <!-- CONFIG -->
      <cert>
          <alias>testdummyca1</alias>
          <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <crl_publication>
        <file>
            <filename>/etc/openxpki/instances/trustcenter1/ca/testdummyca1/crl.pem</filename>
            <format>PEM</format>
        </file>
        <!--
        <ldap>
            <server></server>
            <port></port>
            <bind_dn></bind_dn>
            <pass></pass>
            <base_dn></base_dn>
            <search_dn></search_dn>
        </ldap>
        -->
        <!-- if you do not want to use bind authentication, you can
             use SASL as well (Authen::SASL is required for that to work)

             as sasl_mechanism, you can for example configure DIGEST-MD5 for
             MS ADS

             Also note that configuring a hostname (not an IP) is required
             for MS ADS
        -->
        <!--
        <ldap>
            <server></server>
            <port></port>
            <base_dn></base_dn>
            <search_dn></search_dn>
            <sasl>yes</sasl>
            <sasl_mechanism></sasl_mechanism>
            <sasl_user></sasl_user>
            <sasl_pass></sasl_pass>
        </ldap>
        -->
      </crl_publication>
    </ca>
    <ca id="testdummyca2">
      <token super="common/token_config/token{testdummyca2}"/>
      <!-- CONFIG -->
      <cert>
          <alias>testdummyca2</alias>
          <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <crl_publication>
        <file>
            <filename>/etc/openxpki/instances/trustcenter1/ca/testdummyca2/crl.pem</filename>
            <format>PEM</format>
        </file>
        <!--
        <ldap>
            <server></server>
            <port></port>
            <bind_dn></bind_dn>
            <pass></pass>
            <base_dn></base_dn>
            <search_dn></search_dn>
        </ldap>
        -->
        <!-- if you do not want to use bind authentication, you can
             use SASL as well (Authen::SASL is required for that to work)

             as sasl_mechanism, you can for example configure DIGEST-MD5 for
             MS ADS

             Also note that configuring a hostname (not an IP) is required
             for MS ADS
        -->
        <!--
        <ldap>
            <server></server>
            <port></port>
            <base_dn></base_dn>
            <search_dn></search_dn>
            <sasl>yes</sasl>
            <sasl_mechanism></sasl_mechanism>
            <sasl_user></sasl_user>
            <sasl_pass></sasl_pass>
        </ldap>
        -->
      </crl_publication>
    </ca>

    <!-- Subsystems defined for this realm -->
    <!-- 'id' is the subsystem identifier -->
    <scep id="testscepserver1">
      <cert>
        <alias>testscepserver1</alias>
        <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <token super="common/token_config/token{testscepserver1}"/>
    </scep>
    <pkcs7 id="testsceppkcs7tool1">
      <token super="common/token_config/token{testsceppkcs7tool1}"/>
    </pkcs7>
    <createjavakeystore id="testcreatejavakeystore">
      <token super="common/token_config/token{testcreatejavakeystore}"/>
    </createjavakeystore>
    <password_safe id="passwordsafe1">
      <cert>
        <alias>passwordsafe1</alias>
        <realm>I18N_OPENXPKI_DEPLOYMENT_TEST_DUMMY_CA</realm>
      </cert>
      <token super="common/token_config/token{passwordsafe1}"/>
    </password_safe>


    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="auth.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="acl.xml"/>
    <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="workflow.xml"/>
  </pki_realm>


</openxpki>
