<ldap_options>
 <ldap_extra>
  <badsasl_cert>[% test_directory_certs %]badsaslcert.pem</badsasl_cert>
  <badsasl_key>[% test_directory_keys %]badsaslkey.pem</badsasl_key>
  <verybadsasl_cert>[% test_directory_certs %]verybadsaslcert.pem</verybadsasl_cert>
  <verybadsasl_key>[% test_directory_keys %]verybadsaslkey.pem</verybadsasl_key>
 </ldap_extra>
 <ldap_enable>yes</ldap_enable>
 <ldap_excluded_roles>publish_all_roles</ldap_excluded_roles>
 <ldap_suffixes>
  <ldap_suffix>c=RU,dc=OpenXPKI,dc=org</ldap_suffix>
  <ldap_suffix>dc=OpenXPKI,dc=org</ldap_suffix>
  <ldap_suffix>dc=OpenXPKI,c=RU</ldap_suffix>
 </ldap_suffixes>
 <ldap_server>localhost</ldap_server>
 <ldap_port>60389</ldap_port>
 <ldap_version>3</ldap_version>
 <ldap_tls>
  <use_tls>no</use_tls>
  <client_cert>[% test_directory_certs %]saslcert.pem</client_cert>
  <client_key>[% test_directory_keys %]saslkey.pem</client_key>
  <ca_cert>[% test_directory_certs %]cacert.pem</ca_cert>
 </ldap_tls>
 <ldap_sasl>
  <use_sasl>no</use_sasl>
  <sasl_mech>EXTERNAL</sasl_mech>
 </ldap_sasl>
 <ldap_login>cn=Manager,dc=OpenXPKI,dc=org</ldap_login>
 <ldap_password>secret</ldap_password>
 <schema>
   <default>
     <rdn>
       <attributetype>serialNumber</attributetype>
       <must>
         <attributetype>serialNumber</attributetype>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>device</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>cn</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>sn</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>emailAddress</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>mail</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>uid</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>uid</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>dc</attributetype>
       <must>
         <attributetype>dc</attributetype>
       </must>
       <structural>
         <objectclass>dcObject</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>unstructuredName</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>unstructuredName</attributetype>
         <attributetype>unstructuredAddress</attributetype>
         <attributetype>serialNumber</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>device</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaSCEPDevice</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>unstructuredAddress</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>unstructuredName</attributetype>
         <attributetype>unstructuredAddress</attributetype>
         <attributetype>serialNumber</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>device</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaSCEPDevice</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>ou</attributetype>
       <must>
         <attributetype>ou</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>organizationalUnit</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>o</attributetype>
       <must>
         <attributetype>o</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>organization</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>c</attributetype>
       <must>
         <attributetype>c</attributetype>
       </must>
       <structural>
         <objectclass>country</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>l</attributetype>
       <must>
         <attributetype>l</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>locality</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>st</attributetype>
       <must>
         <attributetype>st</attributetype>
       </must>
       <may>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>locality</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
   </default>
   <certificate>
     <rdn>
       <attributetype>serialNumber</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>serialNumber</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>opencaUniquelyIdentifiedUser</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>cn</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>sn</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>emailAddress</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>mail</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>uid</attributetype>
       <must>
         <attributetype>cn</attributetype>
         <attributetype>sn</attributetype>
       </must>
       <may>
         <attributetype>uid</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>person</objectclass>
         <objectclass>organizationalPerson</objectclass>
         <objectclass>inetOrgPerson</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>dc</attributetype>
       <must>
         <attributetype>dc</attributetype>
       </must>
       <structural>
         <objectclass>dcObject</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>unstructuredName</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>unstructuredName</attributetype>
         <attributetype>unstructuredAddress</attributetype>
         <attributetype>serialNumber</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>device</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaSCEPDevice</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>unstructuredAddress</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>unstructuredName</attributetype>
         <attributetype>unstructuredAddress</attributetype>
         <attributetype>serialNumber</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>device</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaSCEPDevice</objectclass>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>ou</attributetype>
       <must>
         <attributetype>ou</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>organizationalUnit</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>o</attributetype>
       <must>
         <attributetype>o</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>organization</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>c</attributetype>
       <must>
         <attributetype>c</attributetype>
       </must>
       <structural>
         <objectclass>country</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>l</attributetype>
       <must>
         <attributetype>l</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>locality</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>st</attributetype>
       <must>
         <attributetype>st</attributetype>
       </must>
       <may>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>locality</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiUser</objectclass>
       </auxiliary>
     </rdn>
   </certificate>
   <ca>
     <rdn>
       <attributetype>serialNumber</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>serialNumber</attributetype>
         <attributetype>ou</attributetype>
         <attributetype>o</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>device</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>cn</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>sn</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>emailAddress</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>mail</attributetype>
       <must>
         <attributetype>cn</attributetype>
       </must>
       <may>
         <attributetype>ou</attributetype>
         <attributetype>st</attributetype>
         <attributetype>l</attributetype>
         <attributetype>mail</attributetype>
         <attributetype>emailAddress</attributetype>
       </may>
       <structural>
         <objectclass>organizationalRole</objectclass>
       </structural>
       <auxiliary>
         <objectclass>opencaEmailAddress</objectclass>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>dc</attributetype>
       <must>
         <attributetype>dc</attributetype>
       </must>
       <structural>
         <objectclass>dcObject</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>ou</attributetype>
       <must>
         <attributetype>ou</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>organizationalUnit</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>o</attributetype>
       <must>
         <attributetype>o</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>organization</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>c</attributetype>
       <must>
         <attributetype>c</attributetype>
       </must>
       <structural>
         <objectclass>country</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>l</attributetype>
       <must>
         <attributetype>l</attributetype>
       </must>
       <may>
         <attributetype>l</attributetype>
       </may>
       <structural>
         <objectclass>locality</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
     <rdn>
       <attributetype>st</attributetype>
       <must>
         <attributetype>st</attributetype>
       </must>
       <may>
         <attributetype>st</attributetype>
       </may>
       <structural>
         <objectclass>locality</objectclass>
       </structural>
       <auxiliary>
         <objectclass>pkiCA</objectclass>
       </auxiliary>
     </rdn>
   </ca>
 </schema>
</ldap_options>
