<div class="container-fluid">
    <div class="page-header header row">
        <div class="col-xs-6">
            <h2>
                <a href="./#/"><img src="{{this.rootURL}}assets/img/logo.png" class="toplogo"></a>
                &nbsp;
                <small>Open Source Trustcenter</small>
            </h2>
        </div>
        <div class="col-xs-6">
            <ApplicationHeaderUserinfo/>
        </div>
    </div>
</div>
