<div class="hover-element oxi-formatted-asciidata {{@class}}">
    <pre class="content">{{this.data}}</pre>
    <div class="menu">
        <OxiBase::Download @data={{this.data}} @fileName={{this.filename}} />
    </div>
</div>
